{#{% from "macros.html" import input as input_field %}#}
{% import "macros/macros.html" as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宏</title>
</head>
<body>
<h1>登录</h1>
<table>
    <tbody>
        <tr>
            <td>用户名:</td>
            <td>{{ macro.input('username') }}</td>
        </tr>
        <tr>
            <td>密码:</td>
            <td>{{ macro.input("password", type="password") }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ macro.input(value='提交', type="submit") }}</td>
        </tr>
    </tbody>
</table>
</body>
</html>